<!DOCTYPE HTML>
<html>
    <head>
        <title>Add message</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h3>Add new message, please!</h3>

        <div>
            <form action="/logout" method="post">
                <input type="submit" value="Sign Out"/>
                <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            </form>
        </div>

        <div>
            <form method="post" action="/main">
                <input type="text" name="text" placeholder="Введите текст"/>
                <input type="text" name="tag" placeholder="Тэг"/>
                <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                <button type="submit">Добавить сообщение</button>
            </form>
        </div>
        <br>

        <div>
            <form method="post" action="filter">
                <input type="text" name="filter"/>
                <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                <button type="submit">Найти</button>
            </form>
        </div>
        <br>

        <div><h4> Список сообщений</h4></div>

        {{#messages}}
        <div>
                <b>{{id}}</b>
                <span>{{text}}</span>
                <i>{{tag}}</i>
        </div>
        {{/messages}}

    </body>
</html>